[Desktop Entry]
Type=Application
Categories=Utility;Archiving;
X-KDE-RootOnly=true
Exec=IsoWriter --dir $HOME %F
Icon=icon-iw
Name=ISO Writer
Comment=Tool for creating bootable installation USB flash drives
GenericName=USB key writer 
Version=1.0 
